<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="profileContainer">
        <div class="profile">
            {{#foundUser}}
            <div class="one">
                <div><img class="img" src="{{avatar}}"></div>
            </div>
            <div class="two">
                <h2>Name: {{name}}</h2>
                <div> Username: {{username}}</div>
                <br>
                <div>{{university}}</div>
                <div>{{email}}</div>
            </div>
            {{/foundUser}}
        </div>
    </div>
</body>

</html>